<html>
  <head>
    <title>Address Book</title>
  </head>
  <body>
    <h1>Address Book</h1>
    <h2>Add new Contacts</h2>
    <div class="container">
    <form method="post" action="/postcontact">
        <input type="text" name="name" placeholder="Enter contacts name">
        <br><br>
        <input type="text" name="StreetAddress" placeholder="Street Address">
        <br>
        <input type="text" name="PhoneNumber" placeholder="Phone Number">
        <br>
        <input type="text" name="EmailAddress" placeholder="email address">
        <br>
        <input type="submit">New contact's information</button>
      </form>
      {% if contacts is not empty %}
      {% for contact in contacts %}
      <h4>Name:{{ contact.getName }}</h4>
      <h5>Street Address:{{ contact.getStreetAddress }}</h5>
      <h5>PhoneNumber: {{ contact.getPhoneNumber }}</h5>
      <h5>EmailAddress: {{ contact.getEmailAddress }}</h5>
      {% endfor %}
      {% endif %}
      <form action="/delete_contacts">
        <button type="submit">Delete all stored contacts</button>
      </form>
    </div>
  </body>
</html>
